<p><f:translate key="mail.greetings" extensionName="ameos_sharebyemail" />,</p>
<p>{name} ({sender}) <f:translate key="mail.introduction" extensionName="ameos_sharebyemail" />&nbsp;: <f:link.typolink parameter="{link}">{link}</f:link.typolink>
<f:if condition="{message}">
<p><f:translate key="mail.message.introduction" extensionName="ameos_sharebyemail" />&nbsp;:<br /><em><f:format.nl2br>{message}</f:format.nl2br></em></p>
<p><f:translate key="mail.signature" extensionName="ameos_sharebyemail" /></p>
</f:if>